---
title: Test
author: Author Name
# header: This is fancy
# footer: So is this
geometry: margin=1in
...

# This is a test

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pharetra faucibus dolor, interdum bibendum orci eleifend a. Sed congue purus eu risus consequat, id pellentesque mauris pulvinar. Mauris placerat, magna in blandit pharetra, urna ipsum molestie leo, in facilisis ipsum arcu sit amet magna. Aenean condimentum felis et ex tincidunt, vel fermentum nulla accumsan. Cras varius tortor id molestie dictum. In risus velit, mollis et tincidunt ac, convallis quis orci. Nulla ornare arcu non consectetur vulputate. Quisque eget arcu purus. Maecenas dui quam, accumsan quis egestas at, interdum vitae nunc. Phasellus eget lectus pulvinar, tempus risus et, hendrerit mauris. Maecenas consequat sed quam eget pulvinar. Nullam vitae erat quis justo imperdiet interdum.

# receipt

{% for item in products %}
## {{item.name}}

**Cost: {{item.cost}}$**

### Description:

{{item.description}}
{% endfor %}

# This is a test

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pharetra faucibus dolor, interdum bibendum orci eleifend a. Sed congue purus eu risus consequat, id pellentesque mauris pulvinar. Mauris placerat, magna in blandit pharetra, urna ipsum molestie leo, in facilisis ipsum arcu sit amet magna. Aenean condimentum felis et ex tincidunt, vel fermentum nulla accumsan. Cras varius tortor id molestie dictum. In risus velit, mollis et tincidunt ac, convallis quis orci. Nulla ornare arcu non consectetur vulputate. Quisque eget arcu purus. Maecenas dui quam, accumsan quis egestas at, interdum vitae nunc. Phasellus eget lectus pulvinar, tempus risus et, hendrerit mauris. Maecenas consequat sed quam eget pulvinar. Nullam vitae erat quis justo imperdiet interdum.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pharetra faucibus dolor, interdum bibendum orci eleifend a. Sed congue purus eu risus consequat, id pellentesque mauris pulvinar. Mauris placerat, magna in blandit pharetra, urna ipsum molestie leo, in facilisis ipsum arcu sit amet magna. Aenean condimentum felis et ex tincidunt, vel fermentum nulla accumsan. Cras varius tortor id molestie dictum. In risus velit, mollis et tincidunt ac, convallis quis orci. Nulla ornare arcu non consectetur vulputate. Quisque eget arcu purus. Maecenas dui quam, accumsan quis egestas at, interdum vitae nunc. Phasellus eget lectus pulvinar, tempus risus et, hendrerit mauris. Maecenas consequat sed quam eget pulvinar. Nullam vitae erat quis justo imperdiet interdum.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pharetra faucibus dolor, interdum bibendum orci eleifend a. Sed congue purus eu risus consequat, id pellentesque mauris pulvinar. Mauris placerat, magna in blandit pharetra, urna ipsum molestie leo, in facilisis ipsum arcu sit amet magna. Aenean condimentum felis et ex tincidunt, vel fermentum nulla accumsan. Cras varius tortor id molestie dictum. In risus velit, mollis et tincidunt ac, convallis quis orci. Nulla ornare arcu non consectetur vulputate. Quisque eget arcu purus. Maecenas dui quam, accumsan quis egestas at, interdum vitae nunc. Phasellus eget lectus pulvinar, tempus risus et, hendrerit mauris. Maecenas consequat sed quam eget pulvinar. Nullam vitae erat quis justo imperdiet interdum.
